* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    /* padding: 0; */
}

body {
    display: flex;
    flex-direction: column;
    /* margin: 0 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 0px 100px;
}

.logo {
    font-size: 24px;
  
}

.logo > img {
    width: 50px;
}

.hero {
    padding: 100px;
    display: flex;
    color: #e5e7eb;
    background-color: #1f2937;
    justify-content: space-evenly;
    gap: 32px
}

.buttons{
    display: flex;
    justify-content: left;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 10px;
}

.hero-right {
    background-color: gray;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 0.9em;
}

h2 {
    text-align: center;
}

button {
    color: #e5e7eb;
    background-color: #3882F6; 
    width: auto;
    padding:4px 20px;
    border-radius: 5px;
    border-width: 0px;
}

.content_block {
    padding: 30px 150px;
}

.content_items {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px;

}

.content_item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 150px;
}

.content_item img {
    max-width: 100%; 
    border-radius: 10px;
    border: 3px solid #3882F6;

}

.content_item p {
    color: gray;
    text-align: center;
}

.quote_block {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    padding: 30px 20%;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.quote_author {
    align-self: flex-end;
    padding: 0px 30px;
}

.action_box {
    display: flex;
    background-color: #3882F6;
    margin: 50px 10%;
    justify-content: space-between;
    color: #e5e7eb;
    padding: 40px 60px;
    border-radius: 10px;
}

.action_box p {
    font-weight: lighter;
    padding: 5px 0px
}

.action_box button {
    border: 1px solid #e5e7eb;
    margin: 0px 100px;
    padding: 10px 30px;
    align-self: center;
}

.footer {
    background-color: #1f2937;
    color:#e5e7eb;
    padding: 20px;
    font-weight: lighter;
    /* width: 100%; */
    text-align: center; 
}